.productCard {
  border-radius: 5px;
  padding: 0.6rem 0.6rem 0;
}

.productCard__image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  height: 224px;
  width: 184px;
}

.productCard__titles {
  color: #111;
  font-size: 12px;
  padding: 0.4rem 0;
  text-align: center;
}
